<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ultimate Legendary Options</title>
  <link rel="stylesheet" href="styles/doctorchoice.css" />
</head>
<body>
  <div class="container">
    <h1>Choose Your Path</h1>
    <div class="button-group">
      <a href="existed.html"><button class="legend-button">Existed</button></a>
      <a href="new.html"><button class="legend-button">New</button></a>
    </div>
  </div>
</body>
</html>